### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Homework_04-Pandas_Instructions_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

In [2]:
total_players = len(purchase_data["SN"].value_counts())

In [3]:
total_players = pd.DataFrame({"Total Players":[total_players]})
total_players

   Total Players
0            576

* Display the total number of players

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [4]:
unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
total_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [total_purchases], 
                           "Total Revenue": [total_revenue]})
summary_df

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [5]:
gender_data = purchase_data.groupby("Gender")
gender_count = gender_data.nunique()["SN"]
percentage_of_players = (gender_count / 576) * 100

gender_dem = pd.DataFrame({"Gender Count": gender_count,"Percentage of Players":percentage_of_players})
gender_dem

                       Gender Count  Percentage of Players
Gender
Female                           81              14.062500
Male                            484              84.027778
Other / Non-Disclosed            11               1.909722


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
purchase_count = gender_data["Purchase ID"].count()
purchase_count

avg_purchase_price = gender_data["Price"].mean()

avg_purchase_total = gender_data["Price"].sum()

avg_total_per_SN = avg_purchase_total/gender_count


gender_spend = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_purchase_price,
                                    "Average Purchase Value":avg_purchase_total,
                                    "Avg Purchase Total per Person": avg_total_per_SN})

gender_spend.index.name = "Gender"


gender_spend.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [16]:
age_bins = [0,10,15,20,25,30,35,40, 45]
age_ranges = ["<10", "10-14","15-19", "20-24", "25-29", "30-34", "35-39", ">=40"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels= age_ranges)
purchase_data

age_groups = purchase_data.groupby("Age Group")

age_total = age_groups["SN"].nunique()

age_pct = (age_total/576) * 100

age_dem = pd.DataFrame({"Percentage of Players": age_pct, "ToPurchasetal Count": age_total})

age_dem.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [25]:
age_purchases = age_groups["Purchase ID"].count()

avgprice_age = age_groups["Price"].mean()


total_value_age = age_groups["Price"].sum()


avgpurchase_per_age = total_value_age/age_purchases


age_dem = pd.DataFrame({"Purchase Count": age_purchases,
                                 "Avg. Purchase Price": avgprice_age,
                                 "Total Purchase Value":total_value_age,
                                 "Average Purchase Total per Person": avgpurchase_per_age})

age_dem.style.format({"Avg. Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [26]:
player_spend = purchase_data.groupby("SN").count()["Price"].rename("Purchase Count")
player_avgprice = purchase_data.groupby("SN").mean()["Price"].rename("Average Purchase Price")
player_total = purchase_data.groupby("SN").sum()["Price"].rename("Total Purchase Value")

SN_spend = pd.DataFrame({"Purchase Count":player_spend,
                                   "Average Purchase Price": player_avgprice,
                                   "Total Purchase Value": player_total})
SN_spend.head()

              Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76               1                    2.28                  2.28
Adastirin33                1                    4.48                  4.48
Aeda94                     1                    4.91                  4.91
Aela59                     1                    4.32                  4.32
Aelaria33                  1                    1.79                  1.79

In [27]:
top_spend = SN_spend.sort_values("Total Purchase Value", ascending=False)
top_spend.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [31]:

items = purchase_data[["Item ID", "Item Name", "Price"]]

item_group = items.groupby(["Item ID","Item Name"])

count_item = item_group["Price"].count()

value_spend = (item_stats["Price"].sum()) 

item_price = value_spend/count_item

top_items = pd.DataFrame({"Purchase Count": count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":value_spend})


top_items_clean = top_items.sort_values(["Purchase Count"], ascending=False).head()


top_items_clean.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [32]:
cash_cow = top_items_clean.sort_values("Total Purchase Value", ascending=False)
cash_cow.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

In [ ]:
Final Considerations:
    
    
a) The vast majority fall within 15 - 24 years of age
b)The youngest group of players (<10) has the highest avg. purchase price of all age groups
c)Gender  (Non Identified - Other) has the highest avg. purchase price